/* @tailwind base;
@tailwind components;  */

.bg-gradient-brand {
  background-image: linear-gradient(blue, green);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* @responsive {
  .bg-gradient-brand {
    background-image: linear-gradient(blue, green);
  }
} */

/* The `@responsive` directive has been deprecated in Tailwind CSS v3.0. */

/* Use `@layer utilities` or `@layer components` instead. */

@media (min-width: 640px) {
  .bg-gradient-brand {
    background-image: linear-gradient(red, green);
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
}

@media (min-width: 768px) {
  .md\:bg-gradient-brand {
    background-image: linear-gradient(blue, green);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
