/* @tailwind base;
@tailwind components; 
@tailwind utilities; */

.content-area {
  height: calc(100vh - 3rem);
  height: calc(100vh - 0.625rem);
}

.btn-blue {
  background-color: #3b82f6;
}

@media (min-width: 640px) {
  /* ... */
}

@media (min-width: 1024px) {
  /* ... */
}

.btn-blue {
  background-color: rgb(59 130 246 / 75%);
}
