/* @tailwind base;
@tailwind components;  */
@tailwind utilities;

/* @responsive {
  .bg-gradient-brand {
    background-image: linear-gradient(blue, green);
  }
} */
/* The `@responsive` directive has been deprecated in Tailwind CSS v3.0. */
/* Use `@layer utilities` or `@layer components` instead. */
@layer utilities {
  .bg-gradient-brand {
    background-image: linear-gradient(blue, green);
    @apply text-white;
  }
}
@screen sm {
  .bg-gradient-brand {
    background-image: linear-gradient(red, green);
    @apply text-black;
  }
}
