/* @tailwind base;
@tailwind components; 
@tailwind utilities; */
.content-area {
  height: calc(100vh - theme(spacing.12));
}
.content-area {
  height: calc(100vh - theme(spacing[2.5]));
}
.btn-blue {
  background-color: theme(colors.blue.500);
}
@media screen(sm) {
  /* ... */
}
@media screen(lg) {
  /* ... */
}
.btn-blue {
  background-color: theme(colors.blue.500 / 75%);
}
